.flip-image {
    transition: transform 0.5s;
}

.flipper:hover .flip-image {
    transform: scaleX(-1);
}

.flipper.desain {
    background-color: rgb(108, 108, 229);
}
.flipper.desain h3 {
    color: white;
}
.flipper.webDev {
    background-color: rgb(255,76,96);
}
.flipper.videoEdit  {
    background-color: #FFD15C;
}

.shaking-image {
    animation: shake 0.5s infinite;
}
  
@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
}